In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [3]:
df = pd.read_excel(r'C:\Users\ddugky\Desktop\LabelencodingData.xlsx')

In [4]:
df

   age  gender review education purchase
0   23    Male  Good         PG      yes
1   24    Male    Bad        PG       no
2   67    Male  Vgood        UG      yes
3   90  Female  Good         UG      yes
4   23  Female    Bad    School      yes
5   12    Male    Bad    School       no

In [5]:
df.iloc[:,2:]

  review education purchase
0  Good         PG      yes
1    Bad        PG       no
2  Vgood        UG      yes
3  Good         UG      yes
4    Bad    School      yes
5    Bad    School       no

In [17]:
X = df[['review','education']]

In [18]:
X

  review education
0  Good         PG
1    Bad        PG
2  Vgood        UG
3  Good         UG
4    Bad    School
5    Bad    School

In [19]:
y = df['purchase']

In [20]:
y

0    yes
1     no
2    yes
3    yes
4    yes
5     no
Name: purchase, dtype: object

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3)

In [23]:
X

  review education
0  Good         PG
1    Bad        PG
2  Vgood        UG
3  Good         UG
4    Bad    School
5    Bad    School

In [24]:
y

0    yes
1     no
2    yes
3    yes
4    yes
5     no
Name: purchase, dtype: object

In [25]:
from sklearn.preprocessing import OrdinalEncoder

In [26]:
X_train

  review education
4    Bad    School
5    Bad    School
0  Good         PG
2  Vgood        UG

In [30]:
oe =OrdinalEncoder(categories = [['Vgood','Good ','Bad'],['School','PG','UG']])

In [31]:
oe.fit(X_train)

OrdinalEncoder(categories=[['Vgood', 'Good ', 'Bad'], ['School', 'PG', 'UG']])

In [33]:
Xtransform = oe.transform(X_train)

In [34]:
Xtransform

array([[2., 0.],
       [2., 0.],
       [1., 1.],
       [0., 2.]])

In [36]:
Xtransform

array([[2., 0.],
       [2., 0.],
       [1., 1.],
       [0., 2.]])

In [ ]:
#ML
# Linear regression-----> regression+project revise
# Logistic regression + difference
# Encoding----> nomimal+ordinal+label

# DA
# Linear regression data ----> data analysis+linear regression
# missing value handling----->
# Pandas +matplotlib +seaborn-----> Data analysis + viz. 

# Banglore house data---->